body{
  display: flex;
  justify-content:center;
  background-color: pink;
}

#Hero{
  display: flex;
  border:5px solid midnightblue;
  box-shadow: 0px 0px 10px darkslategrey;
  width: 400px;
  padding: 15px;
  border-radius:15px;
  
}