body {
  background-color:#e0e1ddff ;
  display: flex;
  justify-content: center;
}
#Hero {
  display: flex;
  flex-direction:column;
  border:5px solid #ffffee;
  border-radius:10px;
  box-shadow: 0px 0px 5px;
  text-align:center ;
  background-color:#0d1b2aff;
  width:50%;
  height:50%;
  margin: 10px 20px 10px 20px;
  padding: 50px;
} 

.h1a{
   color:#778da9ff ;
}
.pa1{
   text-align: left;
}

.passwordBlock{
   display: flex;
   padding: 10px;
  flex-direction:row ;
  justify-content: space-around ;
}

.pass{
   width: 50%;
   margin: 10px;
   padding: 5px;
   background-color: #1b263bff;
}

.button1{
  margin: 5px ;
  background-color: #778da9ff ;
  color:#0d1b2aff;
  border:1px solid #e0e1ddff ;
  box-shadow:0px 0px 3px #e0e1ddff ;
  height:30px;
  width:50%;
  border-radius:5px;
  
}

p,h1{
   color:#e0e1ddff ;
}


--ink-black: #0d1b2aff;
--prussian-blue: #1b263bff;
--dusk-blue: #415a77ff;
--dusty-denim: #778da9ff;
--alabaster-grey: #e0e1ddff;

